*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    background-color: #70af85;
 }
.question-box{
    width: 500px;
    height: 400px;
    max-width: 90%;
    overflow: hidden;
    border-radius: 20px;
    background-color: #eeeeee;
    box-shadow: 1px 1px 6px 1px rgba(0.5, 0.5, 0.2, 0.5);
    font-family: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

.question-header{
    height: 70px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    background-color: #eeeeee;
    justify-content: space-between;
}
#next{
    height: 30;
    width: 50px;
    outline: none;
    font-size: 15px;
    margin:20px;
    
    margin-top: 40px;
    border-radius: 10px;
    border-style: solid;
    font-family: inherit;
    border-color: #eeeeee;
    box-shadow: 1px 1px 3px 1px rgba(0.2, 0.2, 0.1, 0.2);
}
#next:active {
    background-color: #eeeeee;
    box-shadow: 1px 1px 3px 1px rgba(0.2, 0.2, 0.1, 0.2);
    transform: translateY(4px);
}

.score{
    padding-top: 2px;
    height: 30;
    width: 80px;
    font-size: 15;
    margin:20px;
    margin-top: 40px;
    border-radius: 10px;
    border-style: solid;
    font-family: inherit;
    border-color: #eeeeee;
    box-shadow: 1px 1px 3px 1px rgba(0.2, 0.2, 0.1, 0.2);
}
#question-num{
    padding-top: 2px;
    height: 30;
    width: 140px;
    font-size: 15;
    margin: 20px;
    margin-top: 40px;
    border-radius: 10px;
    border-style: solid;
    font-family: inherit;
    border-color: #eeeeee;
    box-shadow: 1px 1px 3px 1px rgba(0.2, 0.2, 0.1, 0.2); 
}
#remaining{
    font-size: 15;
    margin-top: 20px;
    margin-left: 3px;
}

.options{
    width: 100%;
    height: 25px;
    font-size: 15px;
    border-radius: 10px;
    border-style: solid;
    font-family: inherit;
    border-color: #eeeeee;
    outline: none;
    box-shadow: 1px 1px 3px 1px rgba(0.2, 0.2, 0.1, 0.2);
}
.options:active {
    background-color: #eeeeee;
    box-shadow: 1px 1px 3px 1px rgba(0.2, 0.2, 0.1, 0.2);
    transform: translateY(4px);
}

#result{
    font-size: 15;
    margin-top: 20px;
    margin-left: 3px;
}
img {
    margin: 10px;
    width: 15px;
}

.question-body{
    padding: 2rem;
    background-color: #eeeeee;
}
.question{
    text-align: center;
}

input {
    margin: 5px;
}

.option-list{
    padding: 0;
    margin: 10px;
    list-style-type: none;
}

ul li {
    margin: 1rem 0;
}
label{
    cursor: pointer;
}

